.banner {
    height: auto;
    position: relative;
    margin: 2% 10%;
}

.banner img {
    width: 100%;

}

.one {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    color: #FFFFFF;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #FFFFFF;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.two-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.three {
    height: auto;
    position: relative;
    margin: 5% 25%;
}

.three img {
    width: 100%;
}

.our {
    font-size: 45px;
    text-align: center;
    color: #FF0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.our-1 {
    font-size: 15px;
    text-align: center;
    color: #FF0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.our-2 {
    font-size: 19px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section {
    background-image: url(../public/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    margin: 2% 10%;
}


.vec {
    color: #FFFFFF;
    font-size: 55px;
    padding-top: 110px;
}

.vec-2 {
    color: #FFFFFF;
}

.vec-3 {
    color: #FFFFFF;
    font-size: 25px;
}

.add {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
    padding-bottom: 50px;
}

.box {
    color: #FF0000;
}

.banner-2 {
    height: auto;
    position: relative;
    margin: 7% 10%;
    background-color: rgb(239, 228, 229);
    border-radius: 15px;
}

.add-2 {
    text-align: center;
    background-color: #FF0000;
    color: #FFFFFF;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
}

.add-3 {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 100px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.banner-3 {
    height: auto;
    position: relative;
    margin: 7% 10%;
    border-radius: 15px;
}

.our-3 {
    font-size: 20px;
    color: #FF0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.our-5 {
    font-size: 40px;
    color: #FF0000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.our-4 {
    text-align: start;
}

.flex-container-1 {
    display: flex;
    justify-content: space-between;
}


.picture>div {

    margin: 20px 0;

}

.our-6 {
    text-align: center;
    background-color: rgb(239, 228, 229);
    padding: 100px;
}

.our-7 {
    color: white;
    background-color: #070211;
    padding: 80px;
}

.flex-container-3 {
    display: flex;
    align-items: center;

}

.our-8 {
    text-align: center;
    padding: 20px;
}

.holiday-1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.holiday-2 {
    font-size: 45px;
}

.holidays {
    color: red;
}

.btn-con {
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5%;
    text-align: start;
    color: grey;
}